* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: rgb(89, 89, 89);
    background: radial-gradient(circle, rgb(117, 117, 117) 0%, rgb(54, 54, 54) 100%);
}

.Nazwa {
    font-size: 23px;
    font-family: 'Kalam';
    background-color: black;
    margin: 10px;
    padding: 5px;
    width: 190px; 
    height: 40px;
    text-align: center;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 40px;
    border-radius: 15px;
}

.votv {
    color: white;
}

.hub {
    color: #FF8000;
}

p{
    font-size: 20px;
    text-align: center;
    max-width: 800px;
    padding: 20px;
    margin: auto;

}

.snow {
    position: fixed; /* Замість absolute, щоб залишатися на фоні */
    top: 0;
    left: 0;
    width: 100vw; /* Замість 100% для точного контролю */
    height: 100vh; /* Використовувати vh для адаптації висоти */
    pointer-events: none;
    z-index: 9999;
    background: transparent;
}

.snowflake {
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    opacity: 0.8;
    animation: snowfall linear infinite;
}

@keyframes snowfall {
    to {
        transform: translateY(100vh);
    }
}

.but{
    margin: auto;
    text-align: center;
}

button{
    width: 360px;
    height: 28px;
    background-color: #00FF94;
    border-radius: 10px;
    margin: 20px;
}


.color-change-btn {
    background-color: #00FF94; /* Початковий колір */
    border: none;  
    cursor: pointer;
    transition: background-color 0.3s ease; /* Плавний перехід */
}

.color-change-btn:hover {
    background-color: #00a2d8; /* Світло-голубий колір */
}


main p{
    color: white;
}